* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Courier Prime', monospace;
}

html, a, button {
    cursor: url('../assets/cursor.png'), auto !important;
}

.nav {
	z-index: 999;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#canvas {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(31, 29, 29);
}

audio {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: calc(100% - 20px);
}

#content {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	flex: 1;
}

#play {
	z-index: 5;
	font-size: 2rem;
	color: #ccc;
}

#details {
	z-index: 5;
	position: absolute;
	top: 10%;
	font-size: 1rem;
	color: #ccc;
}

.footer {
	width: 90%;
	z-index: 999;
	position: absolute;
	bottom: 3%;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
	font-size: 1.5rem;
	color: #ccc;
	text-align: center;
}

/* #volume-toggle:hover {
	cursor: pointer;
} */

/* .progress {
	width: 50%;
	height: 5%;

	background-color: grey;
	opacity: 50%;
} */




progress[value] {
	-webkit-appearance: none;
	appearance: none;
}
progress[value]::-webkit-progress-bar {
	border: 2px solid black;
}
progress[value]::-webkit-progress-value {
	background-color: wheat;
}